<%- include("partials/header.ejs") %>

<section class="p-horizontal-center">
    <div class="p-flex-row">
        <div class="offwhite-background col-md-4 col-sm-6 col-xs-12 p-secret-div">
            <h4 class="purple-text"><%= post.post %></h4>
            <div class="p-flex-row green-text">
                <h6 class=" author"><% if (post.anon == true) { %>
                    Anonymous
                <% } else { %><%=locals.poster[0].username%> <% } %></h6>
                <h6>|</h6>
                <form action="/post-comments" method="post">
                    <input type="hidden" name="postItemId" value="<%= post.id %>">

                    <button disabled style="border:none; padding:0px; margin:0px;">
                        <svg style="padding-top:1px" class="blue-text" xmlns="http://www.w3.org/2000/svg" height="23" fill="currentColor" class="bi bi-chat-left-dots-fill" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                          </svg>
                    </button>
                </form>
            </div>
        </div>

        <div class="offwhite-background p-comments-div">

            <h3>Comments</h3>

            <form class="p-vertical-center" action="/create-comment" method="post">
                <input type="hidden" name="postId" value="<%= post.id %>">
                <% if (locals.user_id) { %>
                <input type="hidden" name="userId" value="<%= locals.user_id%>">
                <% } %>

                <input contenteditable="true" class="p-comment-input" type="text" name="comment" placeholder="<% if (!locals.isSignedIn) { %>Sign in to comment...<% } else { %>Say something...<%}%>" <% if (!locals.isSignedIn) { %>disabled<% } %>>
                <button class="p-strip-button" type="submit" <% if (!locals.isSignedIn) { %>disabled<% } %>>
                    <svg class="purple-text"  style="padding-bottom:1px" xmlns="http://www.w3.org/2000/svg" height="34" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
                      </svg>
                </button>
            </form>

            <div>
                <% locals.comments.forEach(comment => { %>
                    <hr>
                    <div class="p-username-comment p-flex-row purple-text"><%= comment.username %></div>
                    <div class="p-flex-row"> <%= comment.comment %> </div>
                    <div class="p-comment-options p-flex-row">
                        <div class="p-flex-row p-likes-div">

                            <% if (!locals.isSignedIn || (!locals.userLikedCommentsIds.includes(comment.id))) { %>
                                
                                <form action="like-comment", method="post">
                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                    <input class="red-text" type="hidden" name="likerId" value="<%= locals.userId %>">
                                    <input class="red-text" type="hidden" name="commentId" value="<%= comment.id %>">
                                    <button class="p-strip-button" >
                                        <svg class="star-icon orange-text" style="margin-bottom: 2px;" xmlns="http://www.w3.org/2000/svg" height="22" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                    </svg>  
                                    </button>
                                </form>

                        <% } else { %>

                                <form action="unlike-comment" method="POST">
                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                    <input class="red-text" type="hidden" name="likerId" value="<%= locals.userId %>">
                                    <input class="red-text" type="hidden" name="commentId" value="<%= comment.id %>">
                                    <button class="p-strip-button" >
                                        <svg class="filled-star-icon orange-text" xmlns="http://www.w3.org/2000/svg" height="22" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                        </svg>
                                    </button>
                                </form>   

                        <% } %>
                        <span class="p-like-count"><%= comment.like_count %></span>


                        </div>

                            <% if (locals.user_id && locals.user_id == comment.user_id) { %>
                                <form class="p-delete" action="/delete-comment" method="post">
                                    <input type="hidden" name="postId" value="<%= post.id %>">
                                    <input class="red-text" type="hidden" name="commentId" value="<%= comment.id %>">
                                    <button class="p-strip-button" ><svg class="red-text" xmlns="http://www.w3.org/2000/svg" height="23" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                      </svg></button>
                                </form>
                            <% } %>
                    </div>

                <% });%>
                
            </div>
        </div>
    </div>
</section>

<section>
    <div class="p-horizontal-center">
        <h2 class="brown-text">Explore More Secrets...</h2>
    </div>
</section>

<%- include("partials/public-posts.ejs") %>

<%- include("partials/footer.ejs") %>