<%- include("partials/header.ejs") %>
    
    <!--Welcome-->
    <section>
        <div class="p-horizontal-center">
            <h1 class="white-text">Hello <% if (locals.username) { %>
             <%=locals.username%><% } else { %> World<% } %>!</h1>
        </div>
        <div class="p-horizontal-center">
            <h2 class="brown-text">Explore Open Secrets!</h2>
        </div>
    </section>

    <section class="p-horizontal-center">
        <container class="container">
            <div class="row p-horizontal-center">
                <!--Secrets-->
                <% locals.openSecrets.forEach(post => { %>

                    <div class="offwhite-background col-md-4 col-sm-6 col-xs-12 p-secret-div">
                        <h4 class="purple-text"><%= post.post %></h4>
                        <h6 class="green-text author"><%=post.username%></h6>
                    </div>

                <% }) %>
            </div>
        </container>
    </section>


<%- include("partials/footer.ejs") %>