<%- include("partials/header.ejs") %>

<section>
    <div class="p-horizontal-center">
        <h1 class="white-text">My Secrets</h1>
    </div>
    <div class="p-horizontal-center">
        <h2 class="brown-text"></h2>
    </div>
</section>

<section class="p-horizontal-center">
    <container class="container">
        <div class="row p-horizontal-center">
            <!--Secrets-->
            <% locals.userSecrets.forEach(post => { %>
                <div class="<% if (post.public == false) { %>
                    gray-text
                <% } else {%> offwhite-background <%}%>col-md-4 col-sm-6 col-xs-12 p-secret-div">
                    <h4 class="purple-text"><%= post.post %></h4>

                    <div class="<% if (!post.public) { %>
                        white-text
                       <% } else { %> green-text <% } %> p-flex-row">
                        <h6 class=" author">me
                        </h6>
                        <h6>|</h6>
                        <h6><% if (post.public) { %>
                        public
                        <% } else { %> private <% } %>
                          </h6>
                        <h6>|</h6>
                        <% if (post.anon) { %>
                         <h6>anon</h6>
                        <% } %>
                    </div>

                    <div class="p-flex-row">
                        <form class="p-edit" action="/edit-post" method="post">
                            <input type="hidden" name="updatedItemId" value="<%= post.id %>">
                            <button id="edit<%=post.id%>" class="edit" >edit</button>
                        </form>
                        <h6>|</h6>
                        <form class="p-delete" action="/delete-post" method="post">
                            <input class="red-text" type="hidden" name="deletedItemId" value="<%= post.id %>">
                            <button id="edit<%=post.id%>" class="delete" >delete</button>
                        </form>
                    </div>
                    
                </div>

            <% }) %>
        </div>
    </container>
</section>

<%- include("partials/footer.ejs") %>